body {
    color: red;
    font-size: 16px;
    margin: 0 auto;
    background: #fff !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a:hover {
    color: rgb(0, 100, 200);
    text-decoration: underline;
}

.box {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to bottom, #fff, #eee);
}
